@media (max-width: 767px) {
    .login.main {
        display: none;
    }

    .logo img {
        position: absolute;
        width: 74px;
        height: 68px;
        left: 25px;
        top: 26px;
    }

    .hero {
        height: 660px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    }

    .hero .title {
        width: 95%;
        height: 130px;
        line-height: 40px;
        font-size: 35px;
    }

    .img-fluid {
        max-width: 90%;
    }

    .hero .text {
        width: 95%;
        font-weight: 300;
        line-height: 28px;
        font-size: 14px;
    }

    .testimonial h2 {
        width: 200px;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;
        text-shadow: 51px 21px 4px rgba(0, 0, 0, 0.5);
    }

    .hero-image {
        top: 150px;
    }

    .hero .button {
        padding: 8px 18px;
        font-size: 14px;
    }

    .hero .button:after {
        top: 1px;
        padding: 8px 18px;
        right: -17px;
    }

    .intro {
        padding-top: 200px;
    }

    .services .container {
        padding-top: 30px;
    }

    .section {
        clear: both;
        padding: 20px 0 0 0;
    }

    .span_1_of_5 .text {
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .testimonial .text {
        line-height: 30px;
        margin-top: 25px;
        font-size: 30px;
    }

    .samples h2 {
        padding-top: 5px;
        width: 95%;
        font-size: 30px;
        line-height: 35px;
    }

    .text {
        font-weight: 400;
        line-height: 20px;
        font-size: 14px;
    }

    .samples .text {
        padding-top: 20px;
        width: 95%;
    }

    .samples .nav-buttons {
        padding: 15px 0 90px 0;
    }

    .final .container {
        padding: 15px 0 50px 0;
    }

    .final .title {
        width: 95%;
        line-height: 35px;
        font-size: 35px;
    }

    .final .text {
        width: 95%;
        line-height: 20px;
        font-size: 14px
    }

    .final .button {
        padding: 8px 18px;
        font-size: 14px;
    }

    .final .button:after {
        top: 1px;
        padding: 8px 18px;
        right: -17px;
    }

    .footer-logo {
        padding-left: 40px;
    }

    .footer-logo img {
        margin-bottom: 20px;
    }

    .footer li a, .footer p {
        font-size: 14px;
    }

    .footer .div-block-2 p {
        width: 100%;
        padding-left: 35px;
    }

    .span_1_of_4 {
        padding-left: 5px;
    }

    .span_1_of_5 img {
        width: 35px;
    }

    .div-block-1 {
        padding-top: 70px;
    }

    .div-block-3, .div-block-4 {
        padding-top: 20px;
    }

    .div-block-2:after {
        content: "";
        background: rgba(55, 126, 173, 0);
        position: absolute;
        bottom: 0;
        right: 0;
        top: 20px;
        height: 50%;
        width: 1px;
    }

    .div-block-2:before, .div-block-4:before {
        content: "";
        background: #377EAD;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 50px;
        height: 70%;
        width: 1px;
    }

    .modal-body {
        padding: 20px;
    }

}

@media (min-width: 768px)  and (max-width: 780px) {
    .div-block-2:after {
        content: "";
        background: rgba(55, 126, 173, 0);
        position: absolute;
        bottom: 0;
        right: 0;
        top: 20px;
        height: 50%;
        width: 1px;
    }
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .modal-dialog {
        max-width: 500px;
        margin: 180px auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    h2 {
        line-height: 37px;
        font-size: 30px;
    }

    .text {
        font-style: normal;
        font-weight: normal;
        line-height: 26px;
        font-size: 16px;
    }

    .logo img {
        width: 94px;
        height: 86px;
        left: 30px;
        top: 32px;
    }

    .hero .title {
        width: 85%;
    }

    .hero .text {
        width: 60%;
    }

    .img-fluid {
        max-width: 85%;
    }

    .hero-image {
        top: 120px;
    }

    .span_1_of_5 .text {
        padding-right: 0px;
        margin-bottom: 25px;
    }

    .testimonial .text {
        line-height: 33px;
        margin-top: 35px;
        font-size: 30px;
    }

    .testimonial h2 {
        width: 256px;
        line-height: 60px;
        font-size: 60px;
        text-shadow: 160px 25px 4px rgba(0, 0, 0, 0.5);
    }

    .samples h2, .samples .text {
        padding-top: 20px;
        width: 40%;
    }

    .final .container {
        padding: 25px 0 100px 0;
    }

    .final .title {
        width: 60%;
        line-height: 40px;
        font-size: 35px;
        margin-bottom: 20px;
    }

    .final .text {
        width: 50%;
    }

    .footer li a, .footer p {
        font-size: 14px;
    }

    .footer .div-block-2 p {
        width: 100%;
        padding-left: 35px;
    }

    .span_1_of_4 {
        padding-left: 0px;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 0px) and (max-width: 480px) {

    .intro {
        padding-top: 70px;
    }

    .hero-image {
        top: 180px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 13;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}